<div class="container">
    <div class="header2">
        <p class="text"><b>Request List</b></p>
    </div>

    <div class="main">
        <ol class="rlist">
            <li class="list1"><strong>Application 1</strong></li><br>
            <li class="list2"><strong>Application 2</strong></li><br>
            <li class="list3"><strong>Application 3</strong></li><br>
            <li class="list4"><strong>Application 4</strong></li><br>
            <li class="list5"><strong>Application 5</strong></li><br>
            <li class="list6"><strong>Application 6</strong></li><br>
            <li class="list7"><strong>Application 7</strong></li><br>
            <li class="list8"><strong>Application 8</strong></li><br>
            <li class="list9"><strong>Application 9</strong></li><br>


        </ol>
    </div>


</div>