.container {
    display: grid;
    width: 219.17vh;
    height: 155.859vh;
    // background: url(/frontend/src/assets/images/muestra_destokp.jpg);


}

.header2 {
    display: flex;
    margin: 0 auto;
    margin-top: 4.56vh;
    width: 201.369vh;
    height: 13.39vh;
    background: rgba(255, 237, 220, 1);
    justify-content: center;
    align-items: center;
}

.text {
    color: rgb(0, 0, 0);
    font-size: 7.61vh;
}

.main {
    display: flex;
    width: 201.36vh;
    height: 102.58vh;
    background: rgba(156, 199, 199, 1);
    margin: 0 auto;
    justify-content: center;
    // align-items: center;
}

.rlist {

    margin: 0 auto;
    margin-top: 12.17vh;
    font-size: 3.61vh;

}