// .container-header{}

.header{
    background-color: #2BB2BA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    
}

.img-logo{
    width: 100px;
    height: 50px;

}
