$phone:320px;
$tablet:768px;
$desktop:1024px;


@media (min-width:$phone) and (max-width: $tablet){
.container-form{
    display: flex;
    justify-content: center;
}

.formulario{
    text-align: center;
}

input{
    margin-bottom: 12%;
}

.reset{
    margin-right: 55px;
    padding: 5px;
}

.validar{
    padding: 5px;
}

.atras{
    width:20%;
    text-align: center;
    padding: 5px;
}

}

@media (min-width:$desktop) {



}