<div class="container-form">
    <form [formGroup]="AddSupportForm" class="formulario" (submit)="onSubmitForm();">
        <label for="name">Nombre:</label><br>
        <input formControlName="name" type="text"><br>
        <label for="date">Fecha:</label><br>
        <input formControlName="date" type="text"><br>
        <label for="topic">Tema:</label><br>
        <input formControlName="topic" type="text"><br><br>
        <label for="description">Descripción:</label><br>
        <textarea formControlName="description" rows="10" cols="30">
        </textarea><br><br>

            <input class="reset" type="reset" value="reset">
            <button class="validar" type="submit">Validar</button><br><br>
            <input class="atras" type="" value="Atrás">
           
</form>
</div>
